.Navbar {
  padding: 2rem 5rem;

  align-items:end;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

.logo  {
  float: left;
    align-items:center;
  padding: 9px 0px;

}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ba68c8;
  color: white;
  border-radius: 0.5rem;
}
